body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #333;
  color: #eee;
}
a {
  color: #00b7ff;
}
.tweet {
  margin: 10px 0px;
}
.tweet:hover {
  background-color: #444;
}
.tweet:hover .panel {
  visibility: visible;
}
.panel {
  cursor: pointer;
  background-color: greenYellow;
  color: #333;
  visibility: hidden;
}
