body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background #333
	color #eee
a
	color: #00B7FF
.tweet
	margin 10px 0px
	&:hover
		background-color #444
		.panel
			visibility visible
			
.panel
	cursor pointer
	background-color greenYellow
	color #333
	visibility hidden
